numpy<1.24.0
pandas
librosa==0.7.0
llvmlite==0.31.0
pytorch-lightning
webrtcvad
parallel-wavegan==0.4.1
pysptk
g2p-en
pyworld
PyYAML
eventlet
flask==3.0.0
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
TextGrid==1.5
miditoolkit
pyloudnorm
scikit-image
